.modal {
  &__activity {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    &--container {
      width: 650px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      padding-bottom: 55px;
      // background-color: #ffe4c4;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
      @include modal__bg;
      animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
    &--closeBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      img {
        width: 50px;
        height: 50px;
      }
    }
    &--logo {
      padding-top: 50px;
      padding-bottom: 20px;
      img {
        width: 150px;
        animation: spin 10s linear infinite;
      }
    }
    &--name {
      font-size: 50px;
      text-align: center;
      color: $colour-primary;
      // color: $colour-secondary;
      padding-bottom: 25px;
    }
    &--actionTitle {
      font-size: 30px;
      color: $colour-secondary;
      padding-bottom: 20px;
    }
    &--links {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
    }
    &--link {
      width: 100%;
      // display: flex;
      // justify-content: center;
    }
  }
}
