.createEmployee {
  &__banner {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    border-bottom: 1px solid teal;
    &--title {
      font-size: 40px;
      font-weight: 700;
      color: teal;
    }
  }
  &__container {
    width: 100%;
    margin: auto;
  }
  &__form {
    width: 50%;
    margin: auto;
    max-width: 968px;
    &--datePicker {
      display: flex;
      justify-content: flex-end;
    }
    &--caption {
      color: $colour-secondary;
      margin: 0px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(255, 228, 196);
      span {
        font-size: 12px;
      }
    }
  }
}
