.createEmployee {
  &__banner {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    border-bottom: 1px solid teal;
    &--title {
      font-size: 40px;
      font-weight: 700;
      color: teal;
    }
  }
  &__container {
    width: 100%;
    margin: auto;
  }
  &__form {
    width: 50%;
    margin: auto;
    // padding: 10px;
    // border-radius: 5px;
    // background-color: rgba(255, 228, 196, 0.273);

    &--datePicker {
      display: flex;
      justify-content: flex-end;
    }
    &--caption {
      color: $colour-secondary;
      margin: 0px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(255, 228, 196);
    }
  }
}
