.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 450px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  /* background: radial-gradient(
    circle,
    rgba(255, 246, 235, 1) 0%,
    rgba(255, 228, 196, 1) 70%
  ); */
  background: linear-gradient(
    90deg,
    rgba(255, 228, 196, 1) 20%,
    rgba(255, 246, 235, 1) 70%
  );
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.193);
  z-index: 10;
}

.information {
  padding: 10px 25px;
  color: #00bc77;
  font-size: 1.5rem;
  font-weight: 500;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -9px;
  margin-right: -9px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 4px 9px;
  background: #257b5a;
  transition: all 0.25s ease;
  cursor: pointer;
}

.closeBtn:hover {
  background: #00bc77;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.13);
  transform: scale(1.2);
}

/* .confirmationBtn {
  font-size: 1rem;
  font-weight: 500;
  color: #257b5a;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: bisque;
  cursor: pointer;
  transition: all 0.25s ease;
}

.confirmationBtn:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.13);
  transform: none;
  background: rgb(255, 214, 163);
} */
