.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  border-top: 2px solid bisque;
  padding: 2rem 0 1.5rem;
  color: $colour-secondary;
  background-color: rgba(255, 228, 196, 0.273);
  &__blocks {
    display: flex;
  }
  &__navHome {
    color: $colour-secondary;
    &--btn {
      color: $colour-secondary;
    }
  }
  &__copyright {
    width: 400px;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
  }
  &__mail {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    color: $colour-secondary;
    &:hover {
      color: $colour-primary;
    }
  }
  &__logout {
    color: $colour-secondary;
    &--btn {
      color: $colour-secondary;
    }
  }
}
